.verify-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // .verify-intro{
    //     margin-top: 15px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     .verify-logo{
    //         img{
    //             max-width: 50px;
    //         }
    //     }
    //     .verify-title{
    //         margin-top: 10px;
    //         color: var(--color-gray);
    //     }
    // }
    .verify-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .verify-heading{
            margin-top: 10px;
            text-align: center;
        }
        .verify-text{
            margin-top: 5px;
            margin-bottom: 10px;
            color: var(--color-gray);
        }
    }
    .verify-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}