<app-auth-wrapper 
[heading]="heading" 
[actionBody]="actionTemplate" 
[formName]="formName" 
[subHeading]="subHeading"
(formReady)="renderFields($event)">
</app-auth-wrapper>

<ng-template #actionTemplate>
    <lib-button *ngIf="!codeSent" (clicked)="sendEmail()" [text]="'Send Code'" [type]="'dark'"></lib-button>
    <br *ngIf="!codeSent">
    <lib-button *ngIf="codeSent && !codeVerified" (clicked)="verifyCode()"  [text]="'Verify'" [type]="'dark'"></lib-button>
    <br *ngIf="codeSent && !codeVerified">
    <lib-button *ngIf="codeVerified" (clicked)="resetPassword()"  [text]="'Reset Password'" [type]="'dark'"></lib-button>
    <br *ngIf="codeVerified">
    <lib-button *ngIf="showResend" (clicked)="resendEmail()" [icon]="'replay'" [text]="'Resend'" [type]="'light'">
    </lib-button>
    <br *ngIf="showResend">
</ng-template>