select {
    -webkit-appearance: none;
    appearance: none;
    color: #757575;
    &:disabled{
        background-color: var(--color-gray-lighest);
        color: var(--color-gray-light);
        +i{
            color: var(--color-gray-light);
        }
    }
    &:focus {
        +i{
            color: var(--color-primary);
        }
    }
    option{
        color: var(--color-gray);
    }
}
.formfield-select{
    position: relative;
    width: fit-content;
}
i{
    pointer-events: none;
    user-select: none;
    cursor: pointer;
    color: var(--color-gray);
    right: 5%;
    top: 20%;
    position: absolute;
}