<div class="app-header">
    <div class="app-title">
        <div class="app-back-button">
            <i class="material-icons">
                chevron_left
            </i>
            Back To
        </div>
        <h1 class="font-bold-24">Subscription Plans </h1>
    </div>
    <div class="app-information">
        <div class="app-actions">
            <div class="app-action">
                <i class="material-icons">search</i>
            </div>
            <div class="app-action">
                <i class="material-icons">notifications</i>
                <div class="unread-notifications"></div>
            </div>
        </div>
        <span class="app-divider"></span>
        <div class="app-actions mobileonly-actions">
            <div class="app-action">
                <i class="material-icons">search</i>
            </div>
            <div class="app-action">
                <i class="material-icons">notifications</i>
                <div class="unread-notifications"></div>
            </div>
        </div>
        <div class="app-user-information">
            <div class="app-user-name">Jones Ferdinand</div>
            <div class="app-user-image">
                <img src="/assets/user-avatar.png" alt="User Avatar">
            </div>
        </div>
    </div>
</div>