.verify-logo{
    img{
        max-width: 50px;
    }
}
.verify-title{
    margin-top: 10px;
    color: var(--color-gray);
}

.verify-footer{
    color: var(--color-gray);
    a{
        text-decoration: none;
    }
}