<div class="navigation-sidebar">
    <div class="navigation-sidebar-logo-container">
        <a href="/">
            <img class="navigation-sidebar-logo" src="/assets/logo@1x.png" alt="Logo">
            <span class="navigation-sidebar-logo-text">Deep Med</span>
          </a>
    </div>
    <ul class="navigation-links">
      <li class="navigation-item">
        <a href="#">
          <i class="material-icons">pie_chart</i>
          <span>Overview</span>
        </a>
      </li>
      <li class="navigation-item">
        <a href="#">
          <i class="material-icons">pie_chart</i>
          <span>Overview</span>
        </a>
      </li>
      <li class="navigation-item">
        <a href="#">
          <i class="material-icons">pie_chart</i>
          <span>Overview</span>
        </a>
      </li>
      <li class="navigation-item navigation-item-active">
        <a href="#">
          <i class="material-icons">pie_chart</i>
          <span>Overview</span>
        </a>
      </li>
      <li class="navigation-item">
        <a href="#">
          <i class="material-icons">confirmation_number</i>
          <span>Tickets</span>
        </a>
      </li>
      <hr class="">
      <li class="navigation-item">
        <a href="#">
          <i class="material-icons">settings</i>
          <span>Settings</span>
        </a>
      </li>
      <li class="navigation-item">
        <a href="#">
          <i class="material-icons">confirmation_number</i>
          <span>Tickets</span>
        </a>
      </li>
    </ul>
  </div>