.form-password{
    position: relative;
    width: fit-content;
    input{
        padding-right: 30px;
        &:focus{
            +i{
                color: var(--color-primary);
            }
        }
        &:disabled{
            +i{
                color: var(--color-gray-light);
            }
        }
    }
    i{
        color: var(--color-gray);
        user-select: none;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 16%;
    }
}